@font-face {
    font-family: header;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf);
}

@font-face {
    font-family: one;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_black_italic-BF64a625c93406c.otf);
}

@font-face {
    font-family: two;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf);
}

@font-face {
    font-family: three;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_bold_italic-BF64a625c93b0ce.otf);
}

@font-face {
    font-family: four;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf);
}
@font-face {
    font-family: five;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_light_italic-BF64a625c93ac64.otf);
}
@font-face {
    font-family: six;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf);
}
@font-face {
    font-family: seven;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf);
}
@font-face {
    font-family: eight;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_thin-BF64a625c9034b9.otf);
}
@font-face {
    font-family: nine;
    src: url(../src/assets/fonts/HvDTrial_Brandon_Grotesque_thin_italic-BF64a625c918a96.otf);
}
@theme{
    --font-header: header;
    --font-1: one;
    --font-2: two;
    --font-3: three;
    --font-4: four;
    --font-5: five;
    --font-6: six;
    --font-7: seven;
    --font-8: eight;
    --font-9: nine;
}




@import "tailwindcss";
